<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{titulo}}</title>
  <link rel="stylesheet" href="css/sesion.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</head>

<body>
  <form id="msform">
    <div class="form-body">
      <img src="/images/logoLT1.png" alt="user-login">
      <p class="text">Bienvenidos Ingresa Tus Datos</p>

      <h2 class="fs-title">{{modulo}}</h2>
      <h3 class="fs-subtitle">{{descripcion_modulo}}</h3>
      <input type="text" id="usuario" placeholder="Ingrese su Usuario">
      <input type="password" id="contrasena"  placeholder="Ingrese su Contraseña">
      <button id="btn" type="submit" name="next"  class="next action-button">Iniciar Sesión</button>
  </form>
  <form action="registro">
    <button type="submit">Crear cuenta</button>
  </form>
  <form action="/">
    <button type="submit">Regresar al inicio</button>
  </form>
  <script src="../js/ValidacionesLogin.js"></script>
</body>

</html>