<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/usuarios.css">
  <title>Usuarios</title>
</head>

<body>

  <form id="msform">
    <fieldset>
      <h2 class="fs-title">
        <a href="/">
          <img src="images/flecha.png" alt=""
            style="width: 28px; height: 28px; vertical-align: middle; margin-right: 10px;">
        </a>
        Usuarios
      </h2>
      <h3 class="fs-subtitle">Lista de Usuarios</h3>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo Electrónico</th>
            <th>Telefono</th>
            <th>Rol</th>
            <th>Fecha de Creación</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kelly</td>
            <td>Marin</td>
            <td>kelly@linatabares.com</td>
            <td>4480624</td>
            <td>Administrador</td>
            <td>2023-05-21</td>
            <td>Activo</td>
          </tr>
          <tr>
            <td>Marlon</td>
            <td>Jaramillo</td>
            <td>marlon@linatabares.com</td>
            <td>4480624</td>
            <td>Usuario</td>
            <td>2023-05-20</td>
            <td>Inactivo</td>
          </tr>
          <tr>
            <td>Daniel</td>
            <td>Valencia</td>
            <td>daniel@linatabares.com</td>
            <td>4480624</td>
            <td>Usuario</td>
            <td>2023-05-20</td>
            <td>Inactivo</td>
          </tr>
          <tr>
            <td>Mateo</td>
            <td>Calle</td>
            <td>mateo@linatabares.com</td>
            <td>4480624</td>
            <td>Usuario</td>
            <td>2023-05-20</td>
            <td>Inactivo</td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
      <a href="crearUsuario">
        <input id="btn" type="button" name="next" class="next action-button" value="Crear Usuario"/>
      </a>
    </fieldset>
  </form>

</body>

</html>